* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; /* Basic font for easy reading */
}

/* wrapper container so the content doesn't stick to the edge of the screen */

.container {
  max-width: 1000px;
  margin: 0 auto; /* Make the container centered */
  padding: 0 20px;
}

/* COLOR SETTINGS */

header,
.hero,
footer {
  background-color: rgb(20, 24, 43);
}

.links a,
.hero p,
footer p {
  color: rgb(180, 190, 210);
  font-size: 18px;
}

.btn-hero,
.btn-cta {
  background-color: rgb(80, 130, 200);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/*  HEADER (Navigation) */

header {
  padding: 20px 0;
}
/* Flexbox: Placing the logo on the left, links on the right */
nav {
  display: flex;
  justify-content: space-between; /* Push elements to the left and right ends */
  align-items: center; /* Membuat teks rata tengah secara vertikal */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.links {
  display: flex;
  gap: 20px; /* Spacing between links */
}
.links a {
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  padding: 100px 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero h1 {
  font-size: 38px;
  font-weight: 900;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.hero-title {
  color: white;
}

/* INFO SECTION */
.info {
  padding: 80px 0;
  text-align: center;
}
.info h2 {
  font-size: 36px;
  color: rgb(30, 35, 50);
  margin-bottom: 50px;
}
.info-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.card-box {
  width: 150px;
  height: 150px;
  border: 4px solid rgb(80, 130, 200);
  border-radius: 15px;
}
.card p {
  color: rgb(100, 110, 130);
  font-size: 14px;
}

/* QUOTE SECTION */
.quote {
  background-color: rgb(220, 225, 235);
  padding: 100px 0;
}
.quote-content {
  max-width: 800px;
  margin: 0 auto;
}
.quote-text {
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  color: rgb(30, 35, 50);
  line-height: 1.2;
}
.quote-author {
  text-align: right;
  font-size: 19px;
  font-weight: bold;
  color: rgb(30, 35, 50);
  margin-top: 10px;
}

